.close {
  font-size: 32px;
}

h1 {
  margin: 0.25em;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr.northbound {
  background-color: #fdd;
}

tr.southbound {
  background-color: lightblue;
}

td {
  border: 1px solid gray;
  font-size: 22px;
  font-family: Helvetica, sans-serif;
  text-align: left;
  padding: 0 2px;
}

@media (max-width: 520px) {
  td.id {
    display: none;
  }
}

@media (max-width: 580px) {
  td.advertised {
    display: none;
  }
}

@media (max-width: 580px) {
  td.advertised {
    display: none;
  }
}

@media (max-width: 640px) {
  td.deviation {
    display: none;
  }
}

@media (max-width: 370px) {
  td.delay {
    display: none;
  }
}

td.countdown {
  text-align: right;
}
